<div>
  <button  class="btn btn-primary" (click)="src = 'https://images.pexels.com/photos/17710966/pexels-photo-17710966/free-photo-of-blanco-y-negro-mujer-arboles-camino.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'">
    Imagen 1
</button>

<button class="btn btn-danger" (click)="src ='https://images.pexels.com/photos/17896654/pexels-photo-17896654/free-photo-of-ciudad-puesta-de-sol-luces-noche.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'">
    Imagen 2
</button>
</div>

<img [src]="src" alt="">
