  <div class="card">
    <div class="card-body">
      <form>
          <div class="mb-2">
            <label class="form-label">
              Nombre
            </label>

          <input type="text" [formControl]="name" class="form-control" placeholder="Por favor ingrese su nombre">
        </div>

          <div class="mb-2">
            <label class="form-label">
            Email
            </label>

            <input type="email" [formControl]="email" class="form-control" placeholder="Por favor ingrese su email">
        </div>

        <button class="btn btn-primary">
            Enviar
        </button>
      </form>
    </div>
  </div>
