<div class="card">
  <div class="card-body">

      <form (ngSubmit)="procesar()">
        <div class="mb-2">
          <label class="form-label">
            Nombre:
          </label>

          <input type="text" name="nombre" class="form-control" placeholder="Por favor ingrese un nombre" [(ngModel)]="persona.nombre">
      </div>

      <div>
          <label class="form-label">
            Edad:
        </label>

        <input type="number" name="edad" class="form-control" placeholder="Por favor ingresa una edad" [(ngModel)]="persona.edad">
    </div>

    <button class="btn btn-primary mt-2">
        Enviar
    </button>

      </form>
    </div>
</div>

{{persona | json}}
